
<h1 class="text-justify text-center my-3 text-uppercase"> User campaigns</h1>

<div class="card w-75 " style="margin: 0 auto">
  <div class="bg-dark text-light d-flex justify-content-between align-items-center px-4" style="height: 4rem">
    <h3 class="text-uppercase">Title</h3>

    <p><%= link_to "New campaign", new_campaign_path, class:"link-light text-uppercase text-decoration-none " %></p>

  </div>

  <% @campaigns.each do |campaign| %>

    <div class="px-2 bg-light">
    <span class="m-2 list-group-item">

      <%= link_to campaign.name, campaign, class:"link-info text-uppercase text-decoration-none" %>

    </span>
    </div>

  <% end %>

</div>
